[submodule "Gamma/Vendor/assimp"]
    path = Gamma/Vendor/assimp
    url = https://github.com/assimp/assimp.git
    branch = master
[submodule "Gamma/Vendor/glad"]
    path = Gamma/Vendor/glad
    url = https://github.com/Dav1dde/glad.git
    branch = c
[submodule "Gamma/Vendor/glfw"]
    path = Gamma/Vendor/glfw
    url = https://github.com/glfw/glfw.git
    branch = master
[submodule "Gamma/Vendor/glm"]
    path = Gamma/Vendor/glm
    url = https://github.com/g-truc/glm.git
    branch = master
[submodule "Gamma/Vendor/stb"]
    path = Gamma/Vendor/stb
    url = https://github.com/nothings/stb.git
    branch = master
[submodule "Gamma/Vendor/bullet"]
    path = Gamma/Vendor/bullet
    url = https://github.com/bulletphysics/bullet3.git
    branch = master
[submodule "Gamma/Vendor/imgui"]
	path = Gamma/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Gamma/Vendor/CLT"]
	path = Gamma/Vendor/CLT
	url = https://github.com/harskish/CLT.git
